@(implicit request: RequestHeader)

@main("Traffic Simulator") {

    <div id="selection-area">
            <label for="mcc">MCC:</label>
            <input type="text" id="mcc" value="206"/>

            <label for="mnc">MNC:</label>
            <input type="text" id="mnc" value="20">

            <label for="numTrips">#Trips:</label>
            <input type="text" id="numTrips" value="2">

            <label for="slideSize">Slide (ms):</label>
            <input type="text" id="slideSize" readonly>
            <p>
            <div id="slideSizeSlider"></div>
            <p>

            <label for="velocity">Velocity (km/h):</label>
            <input type="text" id="velocity" readonly>
            <p>
            <div id="velocitySlider"></div>
            <p>

            <input type="checkbox" id="showTowers"><label for="showTowers">Show towers</label>
            <p>

            <button id="startButton">Start</button>
            <button id="stopButton">Stop</button>
            <button id="unfollowButton">Unfollow</button>

    </div>

    <div id="map-canvas"></div>

} // main

