@(implicit request: RequestHeader)

@main("Traffic Simulator") {


<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">

            <li class="sidebar-brand">
                    Traffic Simulator
            </li>

            <li>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Traffic Simulator Input Form
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <form role="form" class="form-horizontal">

                                            <div class="form-group">
                                                <label for="mcc" class="col-sm-6 control-label">MCC</label>
                                                <div class="col-sm-6">
                                                    <input id="mcc" class="form-control" placeholder="Mobile Country Code" value="206">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="mnc" class="col-sm-6 control-label">MNC</label>
                                                <div class="col-sm-6">
                                                    <input id="mnc" class="form-control" placeholder="Mobile Netwok Code" value="10">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="numTrips" class="col-sm-6 control-label">#Trips</label>
                                                <div class="col-sm-6">
                                                    <input id="numTrips" class="form-control" value="2">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="slideSize" class="col-sm-6 control-label">Slide (ms)</label>
                                                <div class="col-sm-6">
                                                    <input id="slideSize" class="form-control" value="500">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="velocity" class="col-sm-6 control-label">Speed (km/h)</label>
                                                <div class="col-sm-6">
                                                    <input id="velocity" class="form-control" value="1200">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-sm-4">
                                                    <button type="button" id="startButton" class="btn btn-default">start</button>
                                                </div>
                                                <div class="col-sm-4">
                                                    <button type="button" id="stopButton" class="btn btn-default">stop</button>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
</div>
<!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">

                    <ul id="socketStatus"></ul>
                    <br/>

                    <div id="messagesList"></div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});

// $(function() {

var url = "@routes.Application.simulatorSocket.webSocketURL()";
var webSocket = new WebSocket(url);

webSocket.onopen = function(msg) {
    socketStatus.innerHTML = 'Connected to: ' + event.currentTarget.url;
    socketStatus.className = 'open';
};

webSocket.onmessage = function(msg) {
    var message = event.data;
    messagesList.innerHTML += '<li class="received"><span>Received:</span>' + message + '</li>';
};

webSocket.onclose = function(msg) {
    socketStatus.innerHTML = 'Disconnected - see error log for more information';
};


function startSimulator() {
    messagesList.innerHTML = '';
    /* force these values to be numeric, otherwise json will contain strings */
    mcc = parseInt($('#mcc').val());
    mnc = parseInt($('#mnc').val());
    numTrips = parseInt($('#numTrips').val());
    velocity = parseInt($('#velocity').val());
    slideSize = parseInt($('#slideSize').val());

    var message = { "mcc": mcc, "mnc": mnc, "numTrips": numTrips, "velocity": velocity, "slide": slideSize };
    var json = JSON.stringify(message);
    console.log(json);
    webSocket.send(json);
};

function stopSimulator() {
    var message = "stop";
    webSocket.send(message);
}

$('#startButton').click(function() {
    startSimulator();
})

$('#stopButton').click(function() {
    stopSimulator();
})

// })
</script>

}
